<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .root {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: skyblue;
    }

    .bgc {

      display: flex;
      justify-content: center;
    }

    .login-box-bodyWrap {
      display: flex;
      justify-content: center;
      margin-top: 200px;
    }

    input {
      width: 500px;
      height: 50px;
      padding-left: 10px;
    }
    button{
      width: 500px;
      height: 50px;
      margin-left: 75px;
      background-color: blue;
    }
    form div{
      margin: 20px;
    }
    div span{
      display: inline-block;
      width:50px;
    }
  </style>
</head>

<body>
  <div class="root">
    <div class="bgc">
      <h1 class="title">商品管理登录系统</h1>
    </div>
    <div class="login-box-bodyWrap">
      <div class="login-box-body">
        <form action="/login/in" method="post">
          <div>
            <span>用户名</span> <input type="text" placeholder="请输入你的管理员账号" name="userName">

          </div>

          <div>
            <span>密码</span> <input type="password" placeholder="请输入你的管理员密码" name="passwd">

          </div>


          <button type="submit">登录</button>


        </form>
     
        <a href="#">如你忘记了密码，请联系你的负责人</a>

      </div>
    </div>

  </div>

</body>

</html>